{% extends "base.html" %}
{% block order %}
<style>
  .checkout-button {
 
  margin-top: 30px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #191654;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
    }
    
    .checkout-:hover {
        background-color: #3b2b5a;
    }
    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body{
  background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
 
}
.container{
  width: 100%;
  padding:15px;
  margin-right: auto;
  margin-left: auto;
  
}
@media (min-width: 1200px)
{
  .container{
    max-width: 1140px;
  }
}
.d-flex{
  display: inline;
  flex-direction: row;
 
  border-radius: 0 0 5px 5px;
  padding: 25px;
}
form{
  flex: 4;
}
.contain{
  width: 100%;
  display: flex;
}
.title{
  background: -webkit-linear-gradient(to right, #191654, #3e7f72);  
  background: linear-gradient(to right, #191654, #3a7468); 
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6;
}
h2{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
}
label, table{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
input[type="text"], input[type="tel"], input[type="email"], select
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.Yorder{
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}
table{
  margin: 0;
  padding: 0;
}
th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
tr>td:nth-child(2){
  text-align: right;
  color: #52ad9c;
}
td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.Yorder>div{
  padding: 15px 0; 
}

button{
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
button:hover{
  cursor: pointer;
  background: #428a7d;
}
.form{
  width: 70%;

}
.chk{
  width: 30%;
}
</style>
<div class="container">
  <div class="title">
    
      <h2>Place Order</h2>
  </div>
<div class="d-flex">
  {% if cart_item %}
  {% for item in cart_item %}
  <form action="{% url 'place-order' item.product.id %}" method="POST">
   {% endfor %}
   <div class='contain d-flex'>
    <div class='form'>
      <label>
        <span>Street Address <span class="required">*</span></span>
        <input type="text" name="houseadd" placeholder="House number and street name"required>
      </label>
     
      <label>
        <span>Town / City <span class="required">*</span></span>
        <input type="text" name="city"required> 
      </label>
      <label>
        <span>Postcode<span class="required">*</span></span>
        <input type="text" name="pin"required> 
      </label>
  
     </div>
    
    <div class='chk'>
        <table>
        <tr>
          <th colspan="2">Your order</th>
        </tr>
      
        <tr>
          {% for item in cart_item %}
          <td>{{item.product.product_name}} x {{item.quantity}}(Qty)</td>
          <td>₹{{item.subtotal}}</td>
          {% endfor %}
        </tr>
     
       
        <tr>
          <td>Total</td>
          <td>₹{{total_price}}</td>
        </tr>
        
        <tr>
          <td>Shipping</td>
          <td>Free shipping</td>
        </tr>
      </table><br>
     
    
      {%csrf_token%}
     <button type='submit'>place order</a>
      <button id='rzp-button1' class="checkout-button">Payment mode</button>
    </div>
   </div>
  
</form>
{% else %}
<p>{{error}}</p>
<button id='rzp-button1' class="checkout-button">Payment mode</button>
{% endif %}
  
 
 </div>
</div>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    var options = {
        "key": "rzp_test_kKYIS07OxpdK5x", // Enter the Key ID generated from the Dashboard
        "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Flipkart",
        "description": "Purchase", 
        "image": "https://example.com/your_logo",
        "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            console.log('Success')
            window.location.href=`http://127.0.0.1:8000/success/?order_id={{payment.id}}&order_amount={{payment.amount}}`
           
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>
{% endblock order %}
